<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">What's your income?</div>
    <div class="panel-body">
      <form class="form-inline">
        <div class="form-group">
          <label for="job_title">As a</label>
          <input type="text" class="form-control" id="job_title" placeholder="Developer, painter..." ng-model="income.title">
        </div>
        <div class="form-group">
          <label for="money">I earn</label>
          <input type="number" class="form-control" id="money" ng-model="income.amount">
        </div>
        <div class="form-group">

          <select class="form-control" id="period" ng-model="income.period">
            <option>per Hour</option>
            <option>per Week</option>
            <option>per Month</option>
            <option>per Year</option>
          </select>
        </div>
        <div class="form-group">
          <label for="duration">and I work for</label>
          <input type="number" class="form-control" id="duration" ng-model="income.hours_per_week">
          <label for="duration">hours a week.</label>
        </div>
        <button type="submit" class="btn btn-default" ng-click="addIncome()" ng-disabled="disable_income">Save</button>
      </form>
    </div>
  </div>

  <div class="panel panel-default" id="outcome_form">
    <div class="panel-heading">Add an outcome</div>
    <div class="panel-body">
      <form class="form-inline">
        <div class="form-group">
          <label for="expense_title">For</label>
          <input type="text" class="form-control" id="expense_title" placeholder="Netflix, public transport..." ng-model="outcome.title" required>
        </div>
        <div class="form-group">
          <label for="money">I spend</label>
          <input type="number" class="form-control" id="money" placeholder="9€" ng-model="outcome.money_amount" required>
          <label for="money">€</label>
        </div>
        <div class="form-group">
          <label for="period"></label>
          <select class="form-control" id="period" ng-model="outcome.period" required>
            <option>per Day</option>
            <option>per Week</option>
            <option>per Month</option>
            <option>per Year</option>
          </select>
        </div>
        <div class="form-group">
          <label for="day_amount">and</label>
          <input type="number" class="form-control" id="day_amount" placeholder="2" ng-model="outcome.hours_amount" required>
          <label for="day_amount">hour(s)</label>
        </div>
        <div class="form-group">
          <label for="duration"></label>
          <select class="form-control" id="duration" ng-model="outcome.duration" required>
            <option>every day</option>
            <option>every week</option>
            <option>every month</option>
          </select>
        </div>
        <button ng-if="outcome.id" type="submit" class="btn btn-default" ng-click="editOutcome(outcome)">Save</button>
        <button ng-if="outcome.id" type="submit" class="btn btn-default" ng-click="clearModel()">Cancel</button>
        <button ng-if="!outcome.id" type="submit" class="btn btn-default" ng-click="addOutcome()">Add</button>
      </form>
    </div>
  </div>

  <div class="panel panel-success">
    <div class="panel-heading">This is what you earn:</div>
    <div class="panel-body">
      You earn {{income_per_hour || 0}}€ per hour and work {{hours}} per week.
    </div>
  </div>

  <table class="table table-hover">
    <thead>
      <tr>
        <td>#</td>
        <td>Title</td>
        <td>Cost per week</td>
        <td>Hours per week</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in expenses.list">
        <td>{{item.id}}</td>
        <td>{{item.title}}</td>
        <td>{{item.cost_per_week}} €</td>
        <td>{{item.hours_per_week}}</td>
        <td ng-click="editExpense(item)">Edit</td>
        <td class="text-center" ng-click="expenses.remove_item(item)">x</td>
      </tr>
    </tbody>
  </table>
</div>